version: '3'
services:
  2-wit_repository:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: adminpassword
      MYSQL_DATABASE: mooc
      MYSQL_USER: codely
      MYSQL_PASSWORD: c0d3ly7v
      TZ: UTC
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./databases/mooc.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
